NODE_ENV=development
PORT=3000

DATABASE_URL="postgresql://neondb_owner:npg_1ltg9bsxJvPK@ep-icy-cloud-aix09mv8-pooler.c-4.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

JWT_SECRET="s3gUr@_Ch@ve_SUP3r!CompLexa_2026#"
JWT_EXPIRES_IN="7d"